media
debug
release
ipch
*.d
*.o
*.a
*.dll
*.exe
Makefile
*.obj
*.vcxproj
*.filter
*.user
*.sdf
*.opensdf
*.log
*.tlog
*.idb
*.pdb
*.vcproj
*.suo
*.sln
*.filters
*.lastbuildstate
*.dev
*.depend
*.layout
*.cbp
*.pyc
